body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.poc {
    width: 100%;
}

.cont {
    width: 0;
}

.sad {
    width: 20%;
    height: 100%;
    margin-top: 2px;
    margin-left: 2px;
}

.gl {
    width: 78.9%;
    height: 100%;
}

.about {
    width: 51%;
    margin-left: 5%;
}

.about.left{
    float: left;
}

.about.right {
    float: right;
}