body {
    padding: 0;
    margin: 0;
}

iframe {
    height: 800px;
}

.poc {
    width: 100%;
}

.cont {
    width: 0;
}

.sad {
    width: 20%;
}

.uvod {
    width: 79%;
}

.about {
    width: 51%;
    margin-left: 5%;
}

.about.left{
    float: left;
}

.about.right {
    float: right;
}